/*css reset*/
* { margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { min-height: 100%;
	position: relative;
}

.landing {
	background-image: url(./../images/landing2.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 300px;
	background-size: cover;
	margin: 0 auto;
	position: relative;
}

.firstborder {
	opacity: .75;
}

.title {
	position: absolute;
	border:5px solid grey;
	padding: 40px;
	width: 100%;
	left: auto;
	top: 25%;
	font-family: 'Fredericka the Great', cursive;
}


nav {
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

#image {
	height: 50vh;
	width: 100%;
}

#homeimg {
	height: 50%;
	width: 50%
}

#homelink {
	padding: 10px;
}

.card {
	opacity: .75;

}

.logo {
	height: 200px;
	width: 250px;
}

.mainlogo {
	height: 75px;
	width: 75px;
}

.card-title {
	font-weight: bolder;
	font-family: 'Fredericka the Great', cursive;
}

iframe {
	width: 100%;
	height: 30vh;
}


h1 {
	font-family: 'Fredericka the Great', cursive;
}

p, h2, h3, h4, h5, form, .btn {
	font-family: 'Shadows Into Light', cursive;
}


.image-gallery {
	padding: 50px;
  	transition: transform .2s;
  	width: 500px;
  	height: 500px;
  	margin: 0 auto;
}

.image-gallery:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

h6 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 16px;
}



#about {
	margin-bottom: 0;
}

	
.me {
	height: 25%;
	width: 25%;
	border-radius: 50%;
}

iframe {
	width: 100%;
	height: 100%;
}

#foot {
		/*position: absolute;*/
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		transform: translate(0%, 125%);
	}















/*@media only screen and (min-width: 320px) and (max-width: 760px) {
	#submit {
   		width: 360px;
   	}
   	.thanks {text-align: center;
   	}
   	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

@media only screen and (min-width: 761px) and (max-width: 1023px) {
	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	
}

@media only screen and (min-width: 1024px) and (max-width: 2000px) {
	.footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}*/

@media only screen and (max-width: 600px) {
.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.footer {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

@media only screen 
  and (min-width: 1201px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}